.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;
  max-width: 1920px;
  padding: 5% 18% 5% 18%;
  border-bottom: 1px solid rgba(22, 21, 21, 0.027);
}

.blogCon:Hover {
  transform: scale(1.01);
}

.blogCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 15px -6px rgba(11, 0, 23, 0.178);
  transition: 0.3s ease-in-out;
}

.textCon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  padding: 5% 5% 5% 5%;

  h1 {
    font-size: 3vw;
    font-family: SofiaProSoft;
    margin: 0;
  }

  h2 {
    font-family: SofiaPro;
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 35px;
    color: #6e6e74;
    margin: 0;
  }

  p {
    width: 8vw;
    font-size: 1.15vw;
    border-bottom: 0.5px solid #6e6e74c4;
    color: #6e6e74c4;
    transition: 0.3s ease-in-out;
    margin: 0;
  }

  p:hover {
    cursor: pointer;
    color: #8C50CE;
    border-bottom: 0.5px solid #8C50CE;
  }
}

.imgCon {
  position: relative;
  transform: rotateY(180deg);
  height: 100%;
  width: 50%;
  background-color: orange;
  border-radius: 0 30px 30px 0;
  overflow: hidden;
  background: linear-gradient(270deg, #ffffff, #979797, #ffffff);
  background-size: 600% 600%;
  animation: AnimationName 4s ease infinite;

  img {
    object-fit: cover;
  }
}

@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

@media only screen and (max-width:1024px) {
  .main {
    padding: 10%;
  }

  .blogCon {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .imgCon {
    height: 45%;
    width: 100%;
    border-radius: 0;
  }

  .textCon {
    height: 55%;
    width: 100%;
    padding: 2% 5% 2% 5%;

    h2 {
      font-size: 1.8vw;
    }

    p {
      width: 15vw;
      font-size: 2vw;
    }
  }
}

@media only screen and (max-width:500px) {
  .main {
    height: 500px;
    padding: 5%;
  }

  .textCon {
    padding: 5%;

    h1 {
      font-size: 4vw;
    }

    h2 {
      font-size: 3vw;
      line-height: 20px;
    }

    p {
      font-size: 3vw;
      width: 20vw;
    }
  }
}