.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 940px;
  width: 100%;
}

.left {
  height: 93%;
  width: 46%;
  
}

.leftImg:hover {
  transform: scale(1.01);
}

.leftImg {
  position: relative;
  height: 100%;
  width: 80%;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  background: linear-gradient(270deg, #ffffff, #979797, #ffffff);
  background-size: 600% 600%;
  animation: AnimationName 4s ease infinite;
}

.image {
  object-fit: cover;
  top: 0;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  width: 46%;
  margin-bottom: 200px;
  z-index: 2;

  h1 {
    height: 100px;
    font-family: SofiaProSoft;
    font-size: 5vw;

    span {
      color: #8C50CE;
    }
  }

  h2 {
    height: 100px;
    font-size: 1.6vw;
    font-weight: 80;
    color: #6E6E74;
    width: 85%;
  }

  p{
    width: 19vw;
    font-size: 1.15vw;
    border-bottom: 0.5px solid rgba($color: #6E6E74, $alpha: 0.25);
    color: rgba($color: #6E6E74, $alpha: 0.25);
    transition: 0.3s ease-in-out;
  }
  p:hover {
    cursor: pointer;
    color: #8C50CE;
  }
}

// buttons

.farRight {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 3%;
  height: 93%;
}





// social icons
.socialCon {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 300px;
  margin-top: 530px;
}


.social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #3E3E45;
  transition: 0.5s ease-in-out;
}

.social:hover {
  cursor: pointer;
  transform: translateX(-10px);
  background-color: #8C50CE;
}


.icon {
  height: auto;
  object-fit: contain;
  object-position: center;
}

@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}